@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
:root {
  --bs-blue: #009ef6;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-purple-100: #632E99;
  --bs-purple-150: #8B4BFA;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-gray: #7e8299;
  --bs-gray-dark: #3f4254;
  --bs-gray-100: #f5f8fa;
  --bs-gray-200: #eff2f5;
  --bs-gray-300: #e4e6ef;
  --bs-gray-400: #b5b5c3;
  --bs-gray-500: #a1a5b7;
  --bs-gray-600: #7e8299;
  --bs-gray-700: #5e6278;
  --bs-gray-800: #3f4254;
  --bs-gray-900: #181c32;
  --bs-white: #ffffff;
  --bs-light: #f5f8fa;
  --bs-primary: #009ef7;
  --bs-secondary: #e4e6ef;
  --bs-success: #50cd89;
  --bs-info: #7239ea;
  --bs-warning: #ffc700;
  --bs-danger: #f1416c;
  --bs-dark: #181c32;
  --bs-white-rgb: 255, 255, 255;
  --bs-light-rgb: 245, 248, 250;
  --bs-primary-rgb: 0, 158, 247;
  --bs-secondary-rgb: 228, 230, 239;
  --bs-success-rgb: 80, 205, 137;
  --bs-info-rgb: 114, 57, 234;
  --bs-warning-rgb: 255, 199, 0;
  --bs-danger-rgb: 241, 65, 108;
  --bs-dark-rgb: 24, 28, 50;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 24, 28, 50;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Sora", sans-serif;
  --bs-gradient: linear-gradient(180deg,
          rgba(255, 255, 255, 0.15),
          rgba(255, 255, 255, 0));
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: black;
  --bs-body-bg: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  font-family: "Inter", sans-serif !important;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-repeat: repeat;
  background-color: #F7F8FA;
  z-index: -1;
}
@media screen and (max-width: 700px) {
  body {
    font-size: 0.8rem;
  }
}

/* Text selection styling */
::-moz-selection {
  background: #141414;
  color: white;
  /* or choose a contrasting color for text */
  text-shadow: none;
}
::selection {
  background: #141414;
  color: white;
  /* or choose a contrasting color for text */
  text-shadow: none;
}

/* For Mozilla Firefox */
::-moz-selection {
  background: #141414;
  color: white;
  text-shadow: none;
}

body::-webkit-scrollbar {
  width: 0;
  /* Remove horizontal scrollbar */
  height: 0;
  /* Remove vertical scrollbar */
  display: none;
  /* Hide scrollbar */
}

/* Optional: You can add styles for when the scrollbar is in the hover state */
body::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Change thumb color on hover */
}

.main {
  min-height: 100dvh;
  margin: 0 30px 0 334px;
}
@media screen and (max-width: 1400px) {
  .main {
    margin: 0 20px 0 304px;
  }
}
@media screen and (max-width: 900px) {
  .main {
    margin: 0;
  }
}

/* Class to hide scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  /* For Webkit browsers (Chrome, Safari, Opera) */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Change thumb color on hover */
}

.app {
  position: relative;
}

.sidebar {
  position: absolute;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}

.app.toggled .sidebar {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

.m-0 {
  margin: 0vw !important;
}

@media screen and (max-width: 700px) {
  .m-0 {
    margin: 0vw !important;
  }
}
.m-5 {
  margin: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .m-5 {
    margin: 0.625vw !important;
  }
}
.m-10 {
  margin: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .m-10 {
    margin: 1.25vw !important;
  }
}
.m-15 {
  margin: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .m-15 {
    margin: 1.875vw !important;
  }
}
.m-20 {
  margin: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .m-20 {
    margin: 2.5vw !important;
  }
}
.m-25 {
  margin: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .m-25 {
    margin: 3.125vw !important;
  }
}
.mt-0 {
  margin-top: 0vw !important;
}

@media screen and (max-width: 700px) {
  .mt-0 {
    margin-top: 0vw !important;
  }
}
.mt-5 {
  margin-top: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .mt-5 {
    margin-top: 0.625vw !important;
  }
}
.mt-10 {
  margin-top: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .mt-10 {
    margin-top: 1.25vw !important;
  }
}
.mt-15 {
  margin-top: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .mt-15 {
    margin-top: 1.875vw !important;
  }
}
.mt-20 {
  margin-top: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .mt-20 {
    margin-top: 2.5vw !important;
  }
}
.mt-25 {
  margin-top: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .mt-25 {
    margin-top: 3.125vw !important;
  }
}
.mb-0 {
  margin-bottom: 0vw !important;
}

@media screen and (max-width: 700px) {
  .mb-0 {
    margin-bottom: 0vw !important;
  }
}
.mb-5 {
  margin-bottom: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .mb-5 {
    margin-bottom: 0.625vw !important;
  }
}
.mb-10 {
  margin-bottom: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .mb-10 {
    margin-bottom: 1.25vw !important;
  }
}
.mb-15 {
  margin-bottom: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .mb-15 {
    margin-bottom: 1.875vw !important;
  }
}
.mb-20 {
  margin-bottom: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .mb-20 {
    margin-bottom: 2.5vw !important;
  }
}
.mb-25 {
  margin-bottom: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .mb-25 {
    margin-bottom: 3.125vw !important;
  }
}
.mr-0 {
  margin-right: 0vw !important;
}

@media screen and (max-width: 700px) {
  .mr-0 {
    margin-right: 0vw !important;
  }
}
.mr-5 {
  margin-right: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .mr-5 {
    margin-right: 0.625vw !important;
  }
}
.mr-10 {
  margin-right: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .mr-10 {
    margin-right: 1.25vw !important;
  }
}
.mr-15 {
  margin-right: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .mr-15 {
    margin-right: 1.875vw !important;
  }
}
.mr-20 {
  margin-right: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .mr-20 {
    margin-right: 2.5vw !important;
  }
}
.mr-25 {
  margin-right: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .mr-25 {
    margin-right: 3.125vw !important;
  }
}
.ml-0 {
  margin-left: 0vw !important;
}

@media screen and (max-width: 700px) {
  .ml-0 {
    margin-left: 0vw !important;
  }
}
.ml-5 {
  margin-left: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .ml-5 {
    margin-left: 0.625vw !important;
  }
}
.ml-10 {
  margin-left: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .ml-10 {
    margin-left: 1.25vw !important;
  }
}
.ml-15 {
  margin-left: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .ml-15 {
    margin-left: 1.875vw !important;
  }
}
.ml-20 {
  margin-left: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .ml-20 {
    margin-left: 2.5vw !important;
  }
}
.ml-25 {
  margin-left: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .ml-25 {
    margin-left: 3.125vw !important;
  }
}
.mx-0 {
  margin: 0vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .mx-0 {
    margin: 0vw 0vw !important;
  }
}
.mx-5 {
  margin: 0 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .mx-5 {
    margin: 0vw 0.625vw !important;
  }
}
.mx-10 {
  margin: 0vw 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .mx-10 {
    margin: 0vw 1.25vw !important;
  }
}
.mx-15 {
  margin: 0vw 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .mx-15 {
    margin: 0vw 1.875vw !important;
  }
}
.mx-20 {
  margin: 0vw 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .mx-20 {
    margin: 0vw 2.5vw !important;
  }
}
.mx-25 {
  margin: 0vw 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .mx-25 {
    margin: 0vw 3.125vw !important;
  }
}
.my-0 {
  margin: 0vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-0 {
    margin: 0vw 0vw !important;
  }
}
.my-5 {
  margin: 0.26042vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-5 {
    margin: 0.625vw 0vw !important;
  }
}
.my-10 {
  margin: 0.52083vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-10 {
    margin: 1.25vw 0vw !important;
  }
}
.my-15 {
  margin: 0.78125vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-15 {
    margin: 1.875vw 0vw !important;
  }
}
.my-20 {
  margin: 1.04167vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-20 {
    margin: 2.5vw 0vw !important;
  }
}
.my-25 {
  margin: 1.30208vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-25 {
    margin: 3.125vw 0vw !important;
  }
}
.p-0 {
  padding: 0vw !important;
}

@media screen and (max-width: 700px) {
  .p-0 {
    padding: 0vw !important;
  }
}
.p-5 {
  padding: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .p-5 {
    padding: 0.625vw !important;
  }
}
.p-10 {
  padding: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .p-10 {
    padding: 1.25vw !important;
  }
}
.p-15 {
  padding: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .p-15 {
    padding: 1.875vw !important;
  }
}
.p-20 {
  padding: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .p-20 {
    padding: 2.5vw !important;
  }
}
.p-25 {
  padding: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .p-25 {
    padding: 3.125vw !important;
  }
}
.pt-0 {
  padding-top: 0vw !important;
}

@media screen and (max-width: 700px) {
  .pt-0 {
    padding-top: 0vw !important;
  }
}
.pt-5 {
  padding-top: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .pt-5 {
    padding-top: 0.625vw !important;
  }
}
.pt-10 {
  padding-top: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .pt-10 {
    padding-top: 1.25vw !important;
  }
}
.pt-15 {
  padding-top: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .pt-15 {
    padding-top: 1.875vw !important;
  }
}
.pt-20 {
  padding-top: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .pt-20 {
    padding-top: 2.5vw !important;
  }
}
.pt-25 {
  padding-top: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .pt-25 {
    padding-top: 3.125vw !important;
  }
}
.pb-0 {
  padding-bottom: 0vw !important;
}

@media screen and (max-width: 700px) {
  .pb-0 {
    padding-bottom: 0vw !important;
  }
}
.pb-5 {
  padding-bottom: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .pb-5 {
    padding-bottom: 0.625vw !important;
  }
}
.pb-10 {
  padding-bottom: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .pb-10 {
    padding-bottom: 1.25vw !important;
  }
}
.pb-15 {
  padding-bottom: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .pb-15 {
    padding-bottom: 1.875vw !important;
  }
}
.pb-20 {
  padding-bottom: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .pb-20 {
    padding-bottom: 2.5vw !important;
  }
}
.pb-25 {
  padding-bottom: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .pb-25 {
    padding-bottom: 3.125vw !important;
  }
}
.pr-0 {
  padding-right: 0vw !important;
}

@media screen and (max-width: 700px) {
  .pr-0 {
    padding-right: 0vw !important;
  }
}
.pr-5 {
  padding-right: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .pr-5 {
    padding-right: 0.625vw !important;
  }
}
.pr-10 {
  padding-right: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .pr-10 {
    padding-right: 1.25vw !important;
  }
}
.pr-15 {
  padding-right: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .pr-15 {
    padding-right: 1.875vw !important;
  }
}
.pr-20 {
  padding-right: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .pr-20 {
    padding-right: 2.5vw !important;
  }
}
.pr-25 {
  padding-right: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .pr-25 {
    padding-right: 3.125vw !important;
  }
}
.pl-0 {
  padding-left: 0vw !important;
}

@media screen and (max-width: 700px) {
  .pl-0 {
    padding-left: 0vw !important;
  }
}
.pl-5 {
  padding-left: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .pl-5 {
    padding-left: 0.625vw !important;
  }
}
.pl-10 {
  padding-left: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .pl-10 {
    padding-left: 1.25vw !important;
  }
}
.pl-15 {
  padding-left: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .pl-15 {
    padding-left: 1.875vw !important;
  }
}
.pl-20 {
  padding-left: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .pl-20 {
    padding-left: 2.5vw !important;
  }
}
.pl-25 {
  padding-left: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .pl-25 {
    padding-left: 3.125vw !important;
  }
}
.px-0 {
  padding: 0vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .px-0 {
    padding: 0vw 0vw !important;
  }
}
.px-5 {
  padding: 0vw 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .px-5 {
    padding: 0vw 0.625vw !important;
  }
}
.px-10 {
  padding: 0vw 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .px-10 {
    padding: 0vw 1.25vw !important;
  }
}
.px-15 {
  padding: 0vw 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .px-15 {
    padding: 0vw 1.875vw !important;
  }
}
.px-20 {
  padding: 0vw 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .px-20 {
    padding: 0vw 2.5vw !important;
  }
}
.px-25 {
  padding: 0vw 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .px-25 {
    padding: 0vw 3.125vw !important;
  }
}
.py-0 {
  padding: 0vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-0 {
    padding: 0vw 0vw !important;
  }
}
.py-5 {
  padding: 0.26042vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-5 {
    padding: 0.625vw 0vw !important;
  }
}
.py-10 {
  padding: 0.52083vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-10 {
    padding: 1.25vw 0vw !important;
  }
}
.py-15 {
  padding: 0.78125vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-15 {
    padding: 1.875vw 0vw !important;
  }
}
.py-20 {
  padding: 1.04167vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-20 {
    padding: 2.5vw 0vw !important;
  }
}
.py-25 {
  padding: 1.30208vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-25 {
    padding: 3.125vw 0vw !important;
  }
}
.text-bold {
  font-weight: bold;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: "Inter", sans-serif;
  margin: 0;
}

h4 {
  font-size: 36px;
  font-weight: 500;
  line-height: 46px;
  margin: 0;
  color: #121212;
}
@media screen and (max-width: 700px) {
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

a {
  text-decoration: none;
  color: #292929;
  cursor: pointer;
  color: #418FF3;
  font-family: "Inter", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: #292929;
}
@media screen and (max-width: 700px) {
  p {
    font-size: 0.8rem;
  }
}

span {
  font-family: "Inter", sans-serif;
  line-height: unset !important;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  font-family: "Inter", sans-serif;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-container {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.form-style-1 tr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.5625vw;
}

.form-style-1 tr th label {
  float: left;
}

.form-style-1 tr td input {
  margin-top: 0.26042vw;
  background-color: #f8f4f4;
  padding: 0.26042vw 0.26042vw;
  border: none;
  border-bottom: 0.05208vw solid black;
  outline: none;
}

.errorlist {
  list-style: none;
  color: red;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}

@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-1 {
    font-size: 5rem;
  }
}
.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-2 {
    font-size: 4.5rem;
  }
}
.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-3 {
    font-size: 4rem;
  }
}
.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}
.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}
.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-6 {
    font-size: 2.5rem;
  }
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.initialism {
  font-size: 0.875em;
  text-transform: uppercase;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote > :last-child {
  margin-bottom: 0;
}

.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #7e8299;
}

.blockquote-footer::before {
  content: "— ";
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #ffffff;
  border: 1px solid #e4e6ef;
  border-radius: 0.475rem;
  box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 0.875em;
  color: #7e8299;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

@media screen and (min-width: 0px) and (max-width: 750px) {
  .container-sm,
  .container {
    width: 100%;
    padding-right: 20px !important;
    padding-left: 20px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1400px;
  }
}
@media (min-width: 1600px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1600px;
  }
}
.tenant-container {
  padding-bottom: 100px;
  position: relative;
}

.box-container {
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  background-color: white;
}

.initialism {
  font-size: 0.875em;
  text-transform: uppercase;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote > :last-child {
  margin-bottom: 0;
}

.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #7e8299;
}

.blockquote-footer::before {
  content: "— ";
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #ffffff;
  border: 1px solid #e4e6ef;
  border-radius: 0.475rem;
  box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 0.875em;
  color: #7e8299;
}

.row {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.w-full {
  width: 100%;
}

.offset-1 {
  margin-left: 8.33333333%;
}

.offset-2 {
  margin-left: 16.66666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333333%;
}

.offset-5 {
  margin-left: 41.66666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333333%;
}

.offset-8 {
  margin-left: 66.66666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333333%;
}

.offset-11 {
  margin-left: 91.66666667%;
}

.text-primary {
  color: #cc1d21;
}

.black-border {
  border: 2px solid black;
  border-radius: 15px;
}

.cursor {
  pointer-events: none;
}

.cursor .cursor__ball--small {
  fill: red;
  top: -4px;
  right: -6px;
}

.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  stroke: black;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .cursor {
    display: none;
  }
}
.page-not-found {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-not-found .bg-content {
  opacity: 0.3;
  z-index: 0;
}
.page-not-found .bg-content h1 {
  font-size: 12rem !important;
  color: rgb(124, 124, 124);
  margin: 0;
}
@media screen and (max-width: 750px) {
  .page-not-found .bg-content h1 {
    font-size: 80px;
  }
}
.page-not-found .message {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  z-index: 100;
}
.page-not-found .message h4 {
  font-size: 48px;
  color: #292929;
  margin: 0;
}
@media screen and (max-width: 750px) {
  .page-not-found .message h4 {
    font-size: 24px;
  }
}
.page-not-found .message p {
  font-size: 16px;
  color: #B3B3B3;
  margin: 10px 0;
}
@media screen and (max-width: 750px) {
  .page-not-found .message p {
    font-size: 14px;
  }
}
.page-not-found .message .cta-btn {
  margin-top: 20px;
}

.thank-you {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: repeating-linear-gradient(-45deg, #161616, #0D0D0D 2px, #0D0D0D 1px, #0D0D0D 10px);
  /* Gradient background */
  overflow: hidden;
}
.thank-you .bg-content {
  opacity: 0.3;
  z-index: 0;
}
.thank-you .bg-content h1 {
  font-size: 12rem;
  color: rgb(124, 124, 124);
  margin: 0;
}
@media screen and (max-width: 750px) {
  .thank-you .bg-content h1 {
    font-size: 60px;
    text-wrap: nowrap;
    overflow: hidden;
    text-align: center;
  }
}
.thank-you .message {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 750px;
  z-index: 100;
  padding: 0 20px;
}
.thank-you .message h4 {
  font-size: 48px;
  color: #292929;
  margin: 0;
}
@media screen and (max-width: 750px) {
  .thank-you .message h4 {
    font-size: 24px;
  }
}
.thank-you .message p {
  font-size: 16px;
  color: #B3B3B3;
  margin: 0;
}
@media screen and (max-width: 750px) {
  .thank-you .message p {
    font-size: 14px;
  }
}
.thank-you .message .cta-btn {
  margin-top: 20px;
}


/* The container */
.text-eng {
  text-align: right;
}

.recommendation-container {
  position: relative;
  width: 100%;
}
.recommendation-container .recommendation-group {
  background-color: white;
  border: 2px solid #3268E3;
  width: 100%;
  display: none;
  position: absolute;
  top: 110%;
  overflow-y: auto;
  max-height: 200px;
  border-radius: 5px;
}
.recommendation-container .recommendation-group .close {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: white;
  content: "";
  padding: 5px 7px;
  cursor: pointer;
}
.recommendation-container .recommendation-group .recommendation {
  padding: 10px;
}
.recommendation-container .recommendation-group .recommendation:hover {
  background-color: #F0F3FF;
  cursor: pointer;
}
.recommendation-container .recommendation-group .help-text {
  font-size: 9px;
  background-color: #F0F3FF;
  position: sticky;
  padding: 2px 5px;
  font-weight: bold;
}

section {
  margin: 150px auto 0;
  position: relative;
}
@media screen and (min-width: 300px) and (max-width: 480px) {
  section {
    margin: 70px auto 0;
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.arrow {
  position: absolute;
  background-color: none;
  border: 0;
  background-color: transparent;
  left: 0%;
  width: -moz-fit-content;
  width: fit-content;
  top: 0;
  height: 100%;
  width: 30px;
  cursor: pointer;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 300px) and (max-width: 480px) {
  .arrow {
    width: 30px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1200px) {
  .arrow {
    width: 30px;
  }
}
.arrow svg {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.next {
  right: 0%;
  left: unset;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.39);
  height: 100%;
  width: 100%;
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.side-menu {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 105;
  width: 310px;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
  border-right: 1px solid #E6E6E6;
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 999;
}
@media screen and (max-width: 1400px) {
  .side-menu {
    width: 280px;
  }
}
@media screen and (max-width: 900px) {
  .side-menu {
    padding: 70px 10px 10px;
    position: fixed;
    left: -9999px;
  }
}
.side-menu * {
  color: #6B6B6B;
  font-weight: 500;
  cursor: pointer;
}
.side-menu *:hover {
  color: #121212;
}
.side-menu .sub-menu-active {
  background-color: rgb(247, 247, 247);
}
.side-menu .sub-menu-active span {
  color: #121212 !important;
}
.side-menu .logo-container {
  width: 200px;
  margin: 10px;
}
.side-menu .current-user {
  margin: 48px 0;
  padding: 15px 25px;
  border: 1px solid #2F2F2F;
  border-radius: 5px;
}
.side-menu .current-user p {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}
.side-menu .icon {
  max-width: 25px;
  max-height: 25px;
  display: block;
}
@media screen and (max-width: 768px) {
  .side-menu .icon {
    max-width: 20px;
    max-height: 20px;
  }
}
.side-menu .icon svg {
  -o-object-fit: contain;
     object-fit: contain;
}
.side-menu .lock-icon {
  max-width: 20px;
  max-height: 20px;
  display: block;
}
.side-menu .lock-icon svg {
  -o-object-fit: contain;
     object-fit: contain;
}
.side-menu .menu {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 60px 20px 0;
  border-top: 1px solid #E6E6E6;
  font-size: 16px;
}
@media screen and (max-width: 1400px) {
  .side-menu .menu {
    padding: 40px 0 0;
  }
}
.side-menu .menu .menu-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid transparent;
  width: 100%;
  border-radius: 5px;
}
.side-menu .menu .menu-item:hover {
  border: 1px solid #E6E6E6;
  background-color: rgb(247, 247, 247);
}
.side-menu .menu a {
  display: flex;
}
.side-menu .menu .active {
  background-color: rgb(247, 247, 247);
}
.side-menu .menu .active .icon svg path,
.side-menu .menu .active .icon svg circle,
.side-menu .menu .active .icon svg rect,
.side-menu .menu .active .icon svg line,
.side-menu .menu .active .icon svg polyline,
.side-menu .menu .active .icon svg polygon {
  fill: #121212;
}
.side-menu .menu .sub-menu-item {
  display: flex;
  align-items: center;
  padding: 12px;
  flex: 1;
  border-radius: 5px;
  border: 1px solid transparent;
}
.side-menu .menu .sub-menu-item:hover {
  border: 1px solid #E6E6E6;
  background-color: rgb(247, 247, 247);
}
.side-menu .menu .sub-menu-item span {
  color: #6F767E;
}
.side-menu .menu .sub-menu-item span:hover {
  color: #0D0D0D;
}
.side-menu .menu .locked-item {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 8px;
  /* Gray color to indicate it's locked */
  cursor: not-allowed;
}
.side-menu .menu .locked-item .name {
  color: #cccdce;
  cursor: not-allowed;
}
.side-menu .menu .locked-item .lock-icon {
  cursor: not-allowed;
}
.side-menu .menu::-webkit-scrollbar {
  width: 6px;
  background: transparent;
  /* Ensures scrollbar is hidden when not hovered */
}
.side-menu .menu:hover::-webkit-scrollbar-track {
  background: #333;
  /* Visible track on hover */
  border-radius: 10px;
}
.side-menu .menu:hover::-webkit-scrollbar-thumb {
  background: #888;
  /* Visible thumb on hover */
  border-radius: 10px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.side-menu .menu:hover::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker thumb on hover */
}
.side-menu .menu:hover::-webkit-scrollbar {
  background: #2a2a2a;
  /* Makes the scrollbar track slightly visible */
}
.side-menu .bottom {
  width: 100%;
  border-top: 1px solid #E6E6E6;
  padding: 20px;
}
.side-menu .bottom ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 0;
}
.side-menu .bottom ul li {
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
.side-menu .bottom ul li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-menu .bottom ul li:hover {
  border: 1px solid #E6E6E6;
  background-color: rgb(247, 247, 247);
}
.side-menu .bottom ul li:hover span {
  color: #121212;
}
.side-menu .bottom ul li:hover svg path,
.side-menu .bottom ul li:hover svg circle,
.side-menu .bottom ul li:hover svg rect,
.side-menu .bottom ul li:hover svg line,
.side-menu .bottom ul li:hover svg polyline,
.side-menu .bottom ul li:hover svg polygon {
  fill: #121212;
}
.side-menu .bottom ul .active {
  background-color: rgb(247, 247, 247);
}
.side-menu .bottom ul .active span {
  color: #121212;
}
.side-menu .bottom ul .active .icon svg path,
.side-menu .bottom ul .active .icon svg circle,
.side-menu .bottom ul .active .icon svg rect,
.side-menu .bottom ul .active .icon svg line,
.side-menu .bottom ul .active .icon svg polyline,
.side-menu .bottom ul .active .icon svg polygon {
  fill: #121212;
}
.side-menu .bottom ul .logout:hover {
  border: 1px solid transparent;
  background-color: rgba(239, 68, 68, 0.1019607843);
}
.side-menu .bottom ul .logout:hover span {
  color: #D43131;
}
.side-menu .bottom ul .logout span {
  color: #D43131;
}
.side-menu details {
  flex: 1;
}
.side-menu details summary:hover {
  background-color: rgb(247, 247, 247);
}
.side-menu details summary:hover .name {
  color: #121212;
}
.side-menu details > summary > .drop-down-arrow {
  transition: transform 0.3s ease;
}
.side-menu details[open] > summary > .drop-down-arrow {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}
.side-menu details ul {
  margin-top: 10px;
  margin-left: 25px;
}
.side-menu details ul li {
  border-radius: 5px;
}
.side-menu .details-content {
  margin-top: 10px;
  overflow: hidden;
  /* Hide overflow while transitioning */
  height: 0;
  /* Start with zero height */
  transition: height 0.3s ease;
  /* Add transition for smooth opening/closing */
}
.side-menu .details-content.open {
  height: auto;
  /* Once open, set height to auto */
}
.side-menu ul {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
}
.side-menu ul summary {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 5px;
}
.side-menu ul summary div {
  display: flex;
  align-items: center;
}
.side-menu ul summary ul {
  margin-left: 5px;
}
.side-menu ul summary ul li {
  padding: 12px;
}
.side-menu ul li,
.side-menu ul summary {
  display: flex;
  align-items: flex-start;
}
.side-menu ul li .name,
.side-menu ul summary .name {
  flex-grow: 1;
  padding: 0 12px;
}
.side-menu ul li .drop-down-arrow,
.side-menu ul summary .drop-down-arrow {
  font-size: 16px;
  margin: 0;
}
.side-menu ul li .drop-down-arrow i,
.side-menu ul summary .drop-down-arrow i {
  font-size: 12px;
}
.side-menu ul li ul,
.side-menu ul summary ul {
  margin-top: 0;
}

.active {
  transition: all 0.3s ease;
}
@media screen and (max-width: 900px) {
  .active {
    left: 0;
    transform: translateX(0);
  }
}

.hamburger {
  background-color: transparent;
  border: none;
  display: flex;
  padding: 18px 20px 18px 0;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}
@media screen and (max-width: 1200px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }
}
.hamburger span {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 2px;
  background: black;
  border-radius: 3px;
  transition: transform 0.3s, opacity 0.3s;
  position: absolute;
}
.hamburger span:nth-child(1) {
  top: 30%;
  transform: translateY(0%);
}
.hamburger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger span:nth-child(3) {
  top: 70%;
  transform: translateY(-100%);
}
.hamburger.active-nav span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.hamburger.active-nav span:nth-child(2) {
  opacity: 0;
  top: 50%;
  transform: translateY(-50%) scale(0);
}
.hamburger.active-nav span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.active .hamburger .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.active .hamburger .line2 {
  opacity: 0;
}
.active .hamburger .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.top-nav-container {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 20px 24px 0;
  margin: 0 0 24px;
  background-color: #F7F8FA;
}
.top-nav-container .top-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 768px) {
  .top-nav-container .top-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.top-nav-container .top-nav .profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  border-left: 1px solid #E6E6E6;
}
@media screen and (min-width: 768px) {
  .top-nav-container .top-nav .profile {
    display: none;
  }
}
.top-nav-container .top-nav .profile .img-container {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .top-nav-container .top-nav .profile .img-container {
    width: 36px;
    height: 36px;
  }
}
.top-nav-container .top-nav .profile .user-info {
  display: flex;
  flex-direction: column;
}
.top-nav-container .top-nav .profile .user-info p {
  font-size: 15px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .top-nav-container .top-nav .profile .user-info p {
    font-size: 12px;
  }
}
.top-nav-container .top-nav .profile .user-info span {
  font-size: 12px;
  font-weight: 400;
  color: #777777;
}
@media screen and (max-width: 768px) {
  .top-nav-container .top-nav .profile .user-info span {
    font-size: 10 px;
  }
}

.table-container {
  border: 1px solid #E6E6E6;
  padding: 20px;
  border-radius: 10px;
  background-color: #FFF;
  margin: 24px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
}
.table-container .search-container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* Allows wrapping on small screens */
  gap: 10px;
}
.table-container .search-container-wrapper .search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 324px;
  background-color: #F5F5F5;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 5px 10px;
  /* Space around the input and icon */
}
@media screen and (max-width: 900px) {
  .table-container .search-container-wrapper .search-container {
    width: 100%;
    max-width: 500px;
  }
}
.table-container .search-container-wrapper .search-container .icon-container {
  width: 18px;
  height: 18px;
}
.table-container .search-container-wrapper .search-container .icon-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.table-container .search-container-wrapper .search-container .search-input {
  flex: 1;
  /* Makes input take up remaining space */
  background-color: transparent;
  border: none;
  color: #121212;
  outline: none;
  font-size: 14px;
}
.table-container .table {
  width: 100%;
  border-collapse: separate !important;
  border-spacing: 0px 0px;
  margin-top: 20px;
}
.table-container .table th,
.table-container .table td {
  padding: 5px 15px;
  border-bottom: 1px solid #E6E6E6;
}
.table-container .table th {
  font-size: 16px;
  font-weight: 500;
  color: #E4E2E2;
}
.table-container .table td {
  color: #D9D9D9;
}
.table-container .table th:first-child {
  border-left: 1px solid #E6E6E6;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.table-container .table th:last-child {
  border-right: 1px solid #E6E6E6;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  text-align: right;
}
.table-container .table th:last-child div {
  display: block !important;
  text-align: right;
}
.table-container .table td:last-child {
  text-align: right;
}
.table-container .table td:last-child div {
  float: right;
  display: block;
}
.table-container .table td:last-child button {
  float: right;
}
.table-container .table td {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #121212 !important;
}
.table-container .table td p {
  font-size: 14px;
  font-weight: 400;
  color: #121212;
}
.table-container .table-head tr th {
  border: none !important;
  border-bottom: 1px solid #E6E6E6 !important;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #121212 !important;
  border-radius: 0 !important;
}
.table-container .table-head tr th div {
  text-align: start;
  justify-content: start;
}
.table-container .table-body tr {
  cursor: pointer;
  text-align: center;
}
.table-container .table-body tr div {
  text-align: center;
  justify-content: center;
}
.table-container .table-body tr td {
  padding: 18px 15px 12px;
  text-align: start;
  overflow: hidden;
  text-wrap: nowrap !important;
}
.table-container .table-body tr td div {
  text-align: center;
  justify-content: center;
}
.table-container .table-body tr td .export-btn {
  border: 1px solid #E6E6E6;
  background-color: #121212 !important;
  padding: 2px 10px;
}
.table-container .table-body tr:hover {
  background-color: rgba(241, 241, 241, 0.5019607843);
}
.table-container .table-body tr a {
  text-decoration: underline;
}
.table-container .no-data-overlay {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 65%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
}
.table-container .no-data-overlay .img-container {
  width: 200px;
}
.table-container .no-data-overlay p {
  font-size: 16px;
  font-weight: 500;
  color: #121212;
}
.table-container .no-data-overlay span {
  font-size: 12px;
  font-weight: 400;
  color: #6B6B6B;
}

.sorter-container {
  padding: 16px;
  min-width: 400px;
}
.sorter-container h6 {
  margin: 0;
  font-size: 18px;
  color: #292929;
  font-weight: 500;
  margin-bottom: 10px;
}

.filter-container {
  padding: 16px;
}
.filter-container h6 {
  margin: 0;
  font-size: 18px;
  color: #292929;
  font-weight: 500;
  margin-bottom: 10px;
}

.dropzone {
  width: 100%;
  background-color: #2C2C2C;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  height: 150px;
  cursor: pointer;
}
.dropzone .img-container {
  height: 100%;
}
.dropzone .upload {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 2px solid #E6E6E6;
  border-radius: 5px;
  padding: 7px 10px;
}
.dropzone .upload p {
  font-size: 14px;
  color: #B3B3B3;
}

.selected-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 12px;
  margin: 10px 20px 0;
  padding: 10px 20px;
}
.selected-file div {
  text-align: start;
}
.selected-file div span {
  color: #B3B3B3;
  font-size: 12px;
}

.global-form label {
  color: #6B6B6B !important;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}
@media screen and (max-width: 1400px) {
  .global-form label {
    font-size: 14px;
  }
}
.global-form .MuiOutlinedInput-input {
  padding: 18px 14px !important;
}
@media screen and (max-width: 900px) {
  .global-form .MuiOutlinedInput-input {
    padding: 10px 14px !important;
  }
}

.form-box {
  max-width: 70%;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 30px;
  background-color: #131314;
}
@media screen and (max-width: 1080px) {
  .form-box {
    max-width: 100%;
  }
}

.back-link {
  margin-bottom: 30px;
  z-index: 100;
  position: relative;
}
.back-link button {
  background-color: unset;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #B3B3B3;
  cursor: pointer;
}

.flex-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.5rem;
}

.flex {
  display: flex;
  gap: 15px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 14px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
}

.scrollable-table-container {
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.error {
  font-size: 0.75rem;
  color: #d32f2f;
  padding: 4px 15px 0;
}

.edit-icon {
  padding: 5px;
  background-color: #FFF;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-icon img {
  width: 18px;
}

.trash-icon {
  padding: 5px;
  background-color: rgba(239, 68, 68, 0.1019607843);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trash-icon img {
  width: 18px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.faq-container {
  width: 100%;
}

.faq-item {
  border-bottom: 1px solid #E6E6E6;
  margin-top: 20px;
  padding: 15px 20px;
}
@media screen and (max-width: 768px) {
  .faq-item {
    padding: 10px 0;
  }
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
}
.faq-question .question {
  font-size: 20px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .faq-question .question {
    font-size: 14px;
  }
}
.faq-question span {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
@media screen and (max-width: 768px) {
  .faq-question span {
    width: 25px;
    height: 25px;
  }
}

.faq-answer {
  overflow: hidden;
}

.faq-answer .description {
  margin: 20px 0 10px;
  line-height: 32px;
  border-top: 1px solid #E6E6E6;
  margin-top: 15px;
  padding-top: 15px;
}
.faq-answer .description p {
  color: #C5C5C5 !important;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .faq-answer .description p {
    font-size: 14px;
  }
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.login-left {
  position: relative;
  width: 40%;
  height: 100%;
}
.login-left .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}
.login-left .overlay .back-link {
  position: absolute;
  top: 50px;
  left: 50px;
}
.login-left .overlay .back-button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #121212;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}
@media (max-width: 768px) {
  .login-left .overlay .back-button {
    font-size: 20px;
  }
}
.login-left .login-text {
  position: relative;
  z-index: 2;
  color: #0D0D0D;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.login-left .login-text h1 {
  font-size: 58px;
  line-height: 70px;
  font-weight: 500;
  color: #121212;
  margin-bottom: 14px;
}
@media screen and (max-width: 1400px) {
  .login-left .login-text h1 {
    font-size: 44px;
    line-height: 55px;
  }
}
.login-left .login-text p {
  font-size: 36px;
  font-weight: 200;
  color: #121212;
  line-height: 46px;
}
@media screen and (max-width: 1400px) {
  .login-left .login-text p {
    font-size: 28px;
    line-height: 38px;
  }
}

.login-right {
  width: 60%;
  height: 100%;
  background-color: white;
  color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-right .back-link-2 {
  position: absolute;
  top: 50px;
  left: 50px;
}
.login-right .back-button-2 {
  display: none;
}
@media (max-width: 768px) {
  .login-right .back-button-2 {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #121212;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: color 0.3s;
  }
}
.login-right .login-form-container {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1350px) {
  .login-right .login-form-container {
    max-width: 450px;
  }
}
.login-right .login-form-container h2 {
  text-transform: none;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 34px;
  color: #121212;
  text-align: left;
}
.login-right .login-form-container input {
  width: 100%;
  padding: 14px;
  color: #2c2c2c;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}
.login-right .login-form-container label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #121212 !important;
}
.login-right .login-page-btn button {
  background-color: #2F81E9;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin: 10px 0 20px 0;
  font-weight: 600;
  transition: background-color 0.3s;
}
.login-right .login-page-btn button:hover {
  background-color: #2268be;
}
.login-right .or-divider {
  text-align: center;
  color: #121212;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
  position: relative;
}
.login-right .or-divider::before, .login-right .or-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background-color: #E6E6E6;
}
.login-right .or-divider::before {
  left: 0;
}
.login-right .or-divider::after {
  right: 0;
}
.login-right .social-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.login-right .social-buttons .btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #E6E6E6;
  padding: 8px 50px;
  border-radius: 5px;
  cursor: pointer;
}
.login-right .social-buttons .btn .icon-container {
  background-color: #f5f5f5;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
.login-right .after-text {
  text-align: center;
  font-size: 14px;
  color: #aaa;
  margin-top: 10px;
}
.login-right .after-text .signup-link {
  color: #2F81E9;
  font-weight: 500;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
}
.login-right .after-text .signup-link:hover {
  text-decoration: underline;
}
.login-right .extra {
  margin: 20px 0px 20px 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.login-right .extra .terms {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-right .extra .terms label {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .login-right .extra .terms label span {
    font-size: 12px;
  }
}
.login-right .extra .forgot-password {
  color: #121212;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .login-right .extra .forgot-password {
    font-size: 12px;
  }
}
.login-right .extra .MuiFormControlLabel-label {
  color: #121212;
}
.login-right .extra .MuiCheckbox-root {
  color: #121212;
}
.login-right .extra .Mui-checked {
  color: #2F81E9 !important;
}

@media screen and (max-width: 1200px) {
  .login-left {
    display: none;
  }
  .login-right {
    width: 100%;
    height: 100%;
    padding: 2rem;
  }
  .login-form-container {
    padding: 0 1rem;
  }
}/*# sourceMappingURL=global.css.map */