$main-bgColor: #F7F8FA;
$text-color: #121212;
$grey-text-color: #6B6B6B;
$border-color: #E6E6E6;
$red: #D43131;
$blue: #2142FF;
$green: #16A34A;


////////////////////////// Common Styles ////////////////////////

.bread-crumbs {
    a {
        color: $grey-text-color;
    }

    p {
        color: $text-color;
    }
}

.title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 20px 0;

    h4 {
        font-size: 32px;
        line-height: 40px;
        margin: 0;
        font-weight: 600;
        color: $text-color;

        @media (max-width: 768px) {
            font-size: 24px;
            line-height: 30px;
        }
    }

    a {
        font-size: 1rem;
        color: $blue;
        text-decoration: underline;
    }
}

.input {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    label {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-bottom: 10px;
        padding-left: 3px;

        span {
            color: $blue;
        }
    }

    input {
        border: 1px solid $border-color;
        padding: 10px 15px;
        color: $text-color;
        width: 100%;
        font-size: 14px;
        border-radius: 5px;

        &:focus {
            outline: none;
            border-color: $border-color;
        }

        &::placeholder {
            color: $grey-text-color;
        }

        @media (max-width: 768px) {
            font-size: 12px;
            padding: 8px 15px;
        }

        &.error {
            border-color: #F44336; // Red color for error
        }
    }
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 500px;
    background-color: #FFFF;
    border: 1px solid $border-color;
    border-radius: 4px;
    padding: 10px 10px;
    /* Space around the input and icon */

    .icon-container {
        width: 18px;
        height: 18px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .search-input {
        flex: 1;
        /* Makes input take up remaining space */
        background-color: transparent;
        border: none;
        color: $text-color;
        outline: none;
        font-size: 1rem;
    }
}

.stats {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .stat {
        border: 1px solid $border-color;
        border-radius: 5px;
        text-align: center;
        flex: 1;
        padding: 15px;
        background-color: #FFFF;

        p {
            font-size: .9rem;
            margin: 0 0 5px;
        }

        span {
            color: $text-color;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    .paid {
        border: 1px solid $green;
        background-color: #E8F6ED;

        p,
        span {
            color: $green;
        }
    }

    .outstanding {
        border: 1px solid $red;
        background-color: #FFEAEA;

        p,
        span {
            color: $red;
        }
    }
}

.categories {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;

    .category {
        border: 1px solid $border-color;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #FFFF;

        p {
            font-size: 1rem;
            text-wrap: nowrap;
            color: $text-color;
        }
    }

    .active {
        border-color: $blue;
        background-color: #E9ECFF;

        p {
            color: $blue;
        }
    }
}



///////////////////////// Buttons ///////////////////

.blue-cta {
    background-color: $blue;
    color: #FFF;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s ease;
    cursor: pointer;

    @media (max-width: 900px) {
        font-size: 14px;
    }

    &:hover {
        background-color: darken($blue, 10%);
        color: #FFF;
    }

    &:disabled {
        background-color: #b4b4b4;
    }
}

.white-cta {
    background-color: #FFFF;
    color: $blue;
    border: 1px solid $blue;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
    border-radius: 5px;
    padding: 6px 15px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s ease;
    cursor: pointer;

    @media (max-width: 900px) {
        font-size: 14px;
    }

    &:disabled {
        background-color: #b4b4b4;
    }
}

.black-cta {
    background-color: $text-color;
    color: #FFFF;
    border: 1px solid $text-color;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
    border-radius: 5px;
    padding: 6px 15px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 0.3s ease;
    cursor: pointer;

    @media (max-width: 900px) {
        font-size: 14px;
    }

    &:disabled {
        background-color: #b4b4b4;
    }
}

.red-cta {
    background-color: $red;
    color: #FFFF;
    border: 1px solid $red;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 0.3s ease;
    cursor: pointer;

    svg {
        fill: #FFF;
    }

    &:hover {
        background-color: $red;
        color: #FFFF;
    }

    @media (max-width: 900px) {
        font-size: 14px;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: $green;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px $green;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}





/////////////////////////// Cards //////////////////////////

.out-standing-widget {
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 15px;
    position: relative;

    .details {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        justify-content: space-between;

        .info {
            flex: 2;

            p {
                font-size: 18px;
                font-weight: 500;
                color: $text-color;
            }

            span {
                font-size: 14px;
                color: $green;
            }
        }

        .outstanding {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            p {
                border: 1px solid $red;
                padding: 5px 10px;
                border-radius: 5px;
                background-color: #FFEAEA;
                font-size: 16px;
                color: $red;
                max-width: fit-content;
            }
        }

    }

    .actions {
        display: flex;
        gap: 10px;
        margin-top: 20px;

        button,
        a {
            flex: 1;
        }

        button {
            width: 100%;
        }
    }
}

.order-widget {
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 15px;
    position: relative;

    .date {
        position: absolute;
        top: 10px;
        right: 15px;
        text-align: right;

        p {
            font-size: 14px;
            margin: 0;
            color: $text-color;
        }
    }

    h6 {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
        max-width: 70%;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    .order-details {
        display: flex;
        gap: 10px;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 5px;

        .detail {
            .price {
                font-size: 20px;
                color: #16A34A;
                font-weight: 600;
            }

            p {
                font-size: 14px;
            }
        }
    }
}

.product-detail-widget {
    border-bottom: 1px dotted $border-color;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 5px 0 10px;

    .product-detail {
        flex: 1;

        span {
            font-size: 16px;
            color: #2142FF;
            font-weight: 600;

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }

        p {
            font-size: 16px;
            color: $text-color;
            font-weight: 500;

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }

    .price-detail {
        text-align: right;

        span {
            font-size: 18px;
            color: #16A34A;
            font-weight: 600;

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }

        p {
            font-size: 16px;
            color: $text-color;
            font-weight: 400;

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }

    &:last-child {
        border-bottom: none;
        padding: 10px 0 0;
    }
}

.client-widget {
    display: flex;
    flex-direction: row;
    gap: 40px;
    border: 1px solid $border-color;
    padding: 10px;
    border-radius: 5px;
    position: relative;

    @media (max-width: 900px) {
        flex-direction: column;
        gap: 16px;
    }

    .left {
        flex: 1;

        h6 {
            font-size: 1.2rem;
            margin: 0;
            font-weight: 500;
        }

        span {
            font-size: .9rem;
            color: $blue;
        }

        .business-details {
            display: flex;
            flex-direction: column;
            gap: 0;
            margin-top: 10px;
            flex-wrap: wrap;

            @media (max-width: 900px) {
                gap: 5px;
                margin-top: 5px;
            }

            p {
                font-size: 1rem;
                color: $text-color;
                text-wrap: nowrap;
            }
        }
    }

    .actions {
        position: absolute;
        top: 10px;
        right: 10px;

        .option {
            width: 24px;
            height: 24px;
            border: 1px solid $border-color;
            background-color: #FFFF;
            border-radius: 5px;
            padding: 3px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .dropdown-menu {
            position: absolute;
            top: 100%;
            right: 0;
            background: white;
            border: 1px solid #e5e7eb;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            z-index: 10;
            width: 80px;

            button {
                display: block;
                width: 100%;
                padding: 5px 10px;
                background: none;
                border: none;
                text-align: left;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    background: #f3f4f6;
                }
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;

        @media (max-width: 900px) {
            flex-direction: row;
        }

        button,
        a {
            flex: 1;
            width: 100%;
        }

        .white-cta {
            border-color: $border-color;
            color: $text-color;
            background-color: #F7F8FA;
        }
    }
}

.product-widget {
    border: 1px solid $border-color;
    padding: 15px;
    border-radius: 5px;
    background-color: #FFFF;

    .product {
        h6 {
            font-size: 24px;
            font-weight: 600;
            margin: 0;

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        p {
            font-size: 1rem;
            margin: 0;
        }
    }

    .details {
        display: flex;
        gap: 10px;
        margin-top: 5px;

        p {
            font-size: 16px;
            color: $text-color;

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }

    .btns {
        display: flex;
        gap: 10px;
        margin-top: 14px;

        button {
            flex: 1;
        }

        .white-cta {
            border-color: $border-color;
            color: $text-color;
        }
    }
}

.product-store-widget {
    border: 1px solid $border-color;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    gap: 20px;

    .product {
        flex: 1.5;

        h6 {
            font-size: 24px;
            font-weight: 600;
            margin: 0;

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        p {
            font-size: 1rem;
            margin: 0;
        }

        .stock {
            margin-top: 10px;

            p {
                color: $blue;
            }
        }
    }

    .actions {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .price {
            border: 1px solid $green;
            background-color: #E8F6ED;
            border-radius: 5px;
            padding: 10px;
            text-align: center;

            p {
                font-weight: 500;
                color: $green;
                font-size: 1rem;
            }
        }

        button {
            flex: 1;
        }
    }
}

.cart-widget {
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 10px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    .cart-details {
        p {
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            color: $text-color;
        }

        span {
            font-size: 14px;
            color: $grey-text-color;
        }

        .stock {
            font-size: 14px;
            color: $blue;
            font-weight: 500;
        }
    }

    .cart-quantity {
        display: flex;
        gap: 10px;

        .price {
            flex: 1;

            p {
                padding: 5px 10px;
                font-size: 14px;
                font-weight: 500;
                background-color: #E8F6ED;
                color: $green;
                border: 1px solid $green;
                border-radius: 5px;
                max-width: fit-content;
            }
        }

        .qty {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            gap: 5px;

            button {
                padding: 5px;
            }

            input {
                text-align: center;
                border: 1px solid $border-color;
                background-color: #FAFAFA;
                border-radius: 5px;
                width: 120px;
            }

        }
    }

    .delete-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
    }
}